In [97]:
import numpy as np

In [15]:
import pandas as pd

In [16]:
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [11]:
#1 주어진값으로 DataFrame 객체를 생성하시오
df=pd.DataFrame(data, index=labels)
df

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

In [5]:
#2. 객체내부 정보를 출력하시오

In [13]:
#3. 객체 상위3열까지 출력하시오
df.head(3)

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no

In [7]:
#4.animal과 age컬럼만 출력하시오

In [17]:
df['animal']

a      cat
b      cat
c    snake
d      dog
e      dog
f      cat
g    snake
h      cat
i      dog
j      dog
Name: animal, dtype: object

In [18]:
df[['age','visits']]

   age  visits
a  2.5       1
b  3.0       3
c  0.5       2
d  NaN       3
e  5.0       2
f  2.0       3
g  4.5       1
h  NaN       1
i  7.0       2
j  3.0       1

In [22]:
df.loc[[1:3],['age','visits']]

SyntaxError: invalid syntax (<ipython-input-22-8ec819bb0a04>, line 1)

In [23]:
df[df['age']>1.0]

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
i    dog  7.0       2       no
j    dog  3.0       1       no

In [29]:
df[(df['visits']<3)&(df['animal']=='cat')]

  animal  age  visits priority
a    cat  2.5       1      yes
h    cat  NaN       1      yes

In [34]:
df[df['a'],axis=0]

SyntaxError: invalid syntax (<ipython-input-34-433eff4e6674>, line 1)

In [60]:
df.loc[df.'animal'=='cat','cat']='ddddd'

SyntaxError: invalid syntax (<ipython-input-60-6dee421e1f72>, line 1)

In [64]:
df.iloc[2]

animal      snake
age           0.5
visits          2
priority       no
Name: c, dtype: object

In [76]:
df['visits'].sum()

15

In [75]:
df

   animal   age visits priority
a     ddd  None   None     None
b     ddd  None   None     None
c  aaaaaa   0.5      2       no
d     dog   NaN      3      yes
e     dog   5.0      2       no
f     cat   2.0      3       no
g   snake   4.5      1       no
h     cat   NaN      1      yes
i     dog   7.0      2       no
j     dog   3.0      1       no

In [77]:
df.mean()

age       3.666667
visits    1.875000
dtype: float64

In [79]:
df.groupby([:]]['visits'])

SyntaxError: invalid syntax (<ipython-input-79-43af7b53139a>, line 1)

In [81]:
df.groupby(['visits'], index=False).mean()

TypeError: groupby() got an unexpected keyword argument 'index'

In [101]:
from pandas import Series

In [99]:
df['animal'].groupy(df['visits'])

AttributeError: 'Series' object has no attribute 'groupy'

In [100]:
df.groupby('animal').visits.mean()

DataError: No numeric types to aggregate